
h1 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    padding-left: 35%;
}

button {
    margin-top: 10px;
    background-color: yellowgreen;
    border: None;
    border-radius: 10px;
    width: 70px;
    height: 30px;
}

.text {
    border: 1px yellowgreen solid;
    border-radius: 10px;
    margin: 0 20%;
}

.sort {
    text-align: center;
}